<navbar></navbar>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="display-3">2PG+</h1>
            <p class="lead">Donate to unlock cool features and keep 2PG running!</p>
        </div>
        <div class="col-sm-6">
            <img class="float float-right plus" src="assets/img/2pg-plus-avatar-transparent.svg" alt="">
        </div>
    </div>
    <section id="benefits" class="py-5">
        <plus-cards></plus-cards>
    </section>

    <section id="faq mb-5">
        <h2 class="text-center py-2">Questions</h2>
        <zippy title="Is 2PG+ a subscription?">
            Yes. 2PG+ can be paid for monthly, or one-time for $25.
        </zippy>
        <zippy title="If I don't like it, can I get a refund?">
            Yes. We are also pleased you considered supporting 2PG, so if you are not satisfied you can join the Discord server to request a refund.
        </zippy>
        <zippy title="Will payment data be stored?">
            No. 2PG.xyz does not store anything to do with your money in our database, this is done via Stripe.
        </zippy>
        <zippy title="Is my payment secure?">
            Yes. Your payment is encrypted and is secured with Stripe, a third party service trusted by Discord itself.
        </zippy>
        <zippy title="What is the money used for?">
            Paying server costs, domain costs, and to keep 2PG.xyz alive.
        </zippy>
    </section>
</div>